<div class="row gx-3">
  <% unless blocked_link == a_laymans_guide_for_hiring_a_top_software_company_in_pakistan_path %>
    <%= render 'shared/blog_tile', img: "blogs/top_software_company.webp", title: "A layman’s guide for hiring a top software company in Pakistan.", date: "Feb 28, 2023", directed_link: a_laymans_guide_for_hiring_a_top_software_company_in_pakistan_path %>
  <% end %>

  <% unless blocked_link == rails_7_and_turbo_path %>
    <%= render 'shared/blog_tile', img: "blogs/turbo_astechware.webp", title: "Exploring the Latest Web Development Trends: A Dive into Rails 7 and Turbo.", date: "Mar 15, 2023", directed_link: rails_7_and_turbo_path %>
  <% end %>

  <% unless blocked_link == five_startup_mistakes_path %>
    <%= render 'shared/blog_tile', img: "blogs/startup_post_astechware.webp", title: "Top 5 Startup Mistakes to Avoid: Learn from the Lessons of Others", date: "Mar 15, 2023", directed_link: five_startup_mistakes_path %>
  <% end %>

  <% unless blocked_link == four_reason_for_new_web_path %>
    <%= render 'shared/blog_tile', img: "blogs/astechware_new_web_blog_2.webp", title: "4 Reasons why you should invest in a New Website.", date: "Mar 22, 2023", directed_link: four_reason_for_new_web_path %>
  <% end %>

  <% unless blocked_link == impact_of_ai_ml_on_food_industry_path %>
    <%= render 'shared/blog_tile', img: "blogs/astechware-food-and-ai-ml.webp", title: "The Impact of AI and Machine Learning on the Food Products Business.", date: "April 20, 2023", directed_link: impact_of_ai_ml_on_food_industry_path %>
  <% end %>
</div>