<div class="inner-sections">
  <div class="hero-section">
    <div class="card border-0 rounded-0">
      <%= image_tag 'https://images.pexels.com/photos/6469/red-hands-woman-creative.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', class: 'card-img' %>
      <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
        <div class="container text-white pb-5">
          <h5 class="card-title h1">Blog Detail</h5>
          <nav class="mb-5 mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb mx-auto">
              <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <article class="post container pt-4">
    
    <small class="text-primary mb-1">WRITING</small>
    <h1> Beginning Again At Fifty-Five</h1>
    <p class="text-muted">In which I attempt to calculate the remaining years of my life and plan for the final act</p>

    <div class="post-thumbnail mb-4">
        <%= image_tag 'https://images.pexels.com/photos/7305714/pexels-photo-7305714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', class: 'img-fluid w-100' %>
    </div>

    <div class="post-content">
      <div class="entry-content">

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">

            <p class="paragraph">  
                Today is my birthday. Monday, February 13. No need to make a fuss. I barely pay it any mind myself. I only bring it up because others do, and I thought I’d get
                out in front of it. My stepson Ricky stopped by earlier today and asked me when it was that I first felt old.
            </p>

            <p>
              The average life expectancy in America for a white male is 77 years. By any reasonable calculation, at the unremarkable age of 55, I’m roughly three-quarters of the way
              through the only life I’m ever likely to experience. Three-quarters would technically be 57, but I’m hedging towards the lower side as I’m not the healthiest specimen
              walking the earth today. I’m not terribly motivated to do much to change that either, at least not drastically enough to prolong it much further. So, let’s call it a
              quarter left.
            </p>
            <p>
              Whatever efforts I’m currently putting forth are the maximum expenditure I’m willing to do to not clock out too early, as in next week, month, or year. Assuming things go
              exceedingly well, I have about 20 years left to live. Give or take.
            </p>

            <h3>
                Your Gene Pool Depth Chart
            </h3>

            <p>
              It’s not exactly how Ricky asked the question, but that was the gist. When did I first realize I was old? He wasn’t so much suggesting I was old as trying to 
              calculate how much time he had left himself. He followed his own rocky road as a young man and spent a lot of time walking paths that led nowhere.
            </p>

            <p>
              Age is a relative thing, despite our insistence on calculating the number of passes around the sun. Any sense of being old is less than concrete. We all know 
              people who are old in their twenties, as well as 70-year-olds who put us all to shame. When I was Ricky’s age, I had already married his mother and was well on
              my way to achieving the American Dream of conspicuous consumption. He’s still single and slightly aimless in his career path. I fear he feels the scarcity of
              his remaining days more than most.
            </p>
            <p>
              My mother is 80 and healthy but sometimes wonders aloud what she will be like when she’s old. At first, I thought that was incredibly funny, but now I’m with 
              her. What will she be like when she’s old? She’s certainly not old yet, not to me anyway. She just got a new dog.
            </p>
            <p>
             From a hereditary standpoint, I’m a bit split. My maternal grandfather died of heart failure when he was quite young, although not likely something he would die 
             of today. Similarly, my paternal grandmother died of cancer long before she got old, an illness that would have been survivable today.
            </p>

            <p>
              My remaining grandparents lived well into their 80s, and all were of sound mind. My paternal great-grandmother lived into her 90s, and I was fortunate to know 
              her in my youth. She was sharp as a tack and lived alone almost until her death. When taken as an average, I suppose that’s a pretty good gene pool.
            </p>

            <h3>
              Feeling Your Age
            </h3>
            <p>
              I believe that you can consider yourself young all through your twenties. Once you hit thirty, you’re an adult with a budding family and actual responsibilities,
              but it’s your forties when you’re likely to hit peak economic success in your career. If you haven’t made it by then, you probably aren’t going to, despite the 
              handful of celebrity outliers. Whether you’re a late bloomer or not, once you hit fifty, it’s pretty much all downhill. You’ll never again be the hot new thing 
              at work, and your kids will likely have grown and moved out of your house.
            </p>

            <p>
              I’m not saying life is over after fifty. If you so desire, there’s not much you can’t do if you want to badly enough. You’re not too old for most activities, 
              but you’re not quite as spry as you once were; things stop operating as efficiently, nothing bends like it used to, and you begin to atrophy just a bit. You start
              to feel the effects of gravity. You do not bounce.
            </p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus lorem a turpis feugiat, et porttitor leo dapibus. In ut tincidunt lectus, id hendrerit 
                enim. Maecenas at nibh eu nulla dignissim posuere. Nullam viverra vitae elit a tempus. Donec quis eleifend eros. Donec imperdiet nisi mi, in ultricies risus 
                porta ac. Nullam laoreet convallis nibh sed congue. Donec nulla ipsum, tincidunt a augue maximus, pellentesque imperdiet lectus. Aenean posuere consequat libero,
                id efficitur quam dictum volutpat.
              </p>
              <p>
                Cras commodo, nulla a commodo sodales, nisl mauris interdum lectus, ac mattis lacus purus ut nunc. Fusce volutpat aliquam euismod. Aliquam pulvinar neque 
                turpis, in tincidunt mi varius et. Curabitur vitae tempus mauris, porta dictum ante. Nam pellentesque et mauris a suscipit. Vivamus gravida erat nec elit 
                ullamcorper, quis laoreet metus efficitur. Duis vulputate, mauris a auctor pretium, elit nisl eleifend nulla, non accumsan augue massa quis tellus. Aliquam at
                justo libero.
              </p>
              <h3>The Midlife Crisis</h3>
              
              <p>
                Donec mollis a lacus a pharetra. Nam facilisis enim erat, in scelerisque eros mollis quis. Aliquam erat volutpat. Nam vel nibh justo. Nunc 
                vestibulum leo a ultricies malesuada. Proin quis volutpat sem. Morbi consequat lacinia pulvinar.
              </p>

              <p>
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vestibulum mauris condimentum ultrices scelerisque.
                Fusce pulvinar cursus luctus. Cras dapibus placerat magna, quis euismod nisi consequat euismod. Curabitur finibus nisi at justo ultricies, nec congue 
                metus rutrum. Quisque vulputate sollicitudin aliquam. Curabitur posuere auctor dapibus.
              </p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus lorem a turpis feugiat, et porttitor leo dapibus. In ut tincidunt lectus, id hendrerit 
                enim. Maecenas at nibh eu nulla dignissim posuere. Nullam viverra vitae elit a tempus. Donec quis eleifend eros. Donec imperdiet nisi mi, in ultricies risus
                porta ac. Nullam laoreet convallis nibh sed congue. Donec nulla ipsum, tincidunt a augue maximus, pellentesque imperdiet lectus. Aenean posuere consequat libero, 
                id efficitur quam dictum volutpat.
              </p>
             
          </div>
        </div>

      </div><!-- .entry-content -->

      <div class="entry-meta entry-meta-bottom">
        <div class="date-author">
          
          <span class="entry-date">
            <a href="#" rel="bookmark">
              <i class="far fa-clock"></i>
              <time class="entry-date" datetime="2020-04-04T08:29:37+00:00"> December 4, 2019</time>
            </a>
          </span>

           <span class="author vcard d-inline-block ms-2">
            <a class="url fn n" href="#" rel="author">
              <i class="fa fa-user"></i>
              <span> Admin</span>
            </a>
          </span>
        </div>
      </div>

      <div class="post-tags">
      <h5>Tags</h5>
        <span class="tags">
          <a href="#" rel="tag">design</a>
          <a href="#" rel="tag">plugin</a>
          <a href="#" rel="tag">WordPress</a>
        </span>
      </div>
    </div>

  </article>

    
  <div class="blogs-section py-5">
    <div class="container">
      <div class="text-center">
        <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">Related blogs</h2>
      </div>
      <div class="row gx-3">
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="blog-card position-relative">
            <%= image_tag 'img3.png', class: 'img-fluid' %>
            <div class="caption">
              <p>Dec 1, 2022</p> 
              <h3>ASA Microfinance Bank partners with Systems Limited &amp; NdcTech to offer ...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<footer id="footer" class="text-center py-4">
  <div class="container">
    <div class="d-flex justify-content-between">
      <span>©<script>document.write(new Date().getFullYear())</script> All rights reserved.</span>
      <ul class="list-unstyled d-flex m-0">
        <li class="me-3"><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of use</a></li>
      </ul>
    </div>
  </div>
</footer>


