<!-- Hero Section -->
<%= content_for :head do %>
<script defer src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<% end %>
<div class="intro-section">
   <div class="swiper-container main-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <figure class="slide-bgimg">
               <%= image_tag 'bannernew.webp', class: 'img-fluid w-100 h-100', alt: "A'sTechware Banner Image 1" %>
            </figure>
            <div class="content">
               <p class="title mb-3">We'll help you make a lasting impression online - from start to success!</p>
               <span class="caption">At our software development company, we envision a world where technology is seamlessly integrated into every aspect of daily life, providing unprecedented levels of efficiency, innovation, and convenience. We believe in the transformative power of software, and our mission is to create innovative and user-centric software solutions that empower businesses and individuals to achieve their goals.</span>
            </div>
         </div>
         <div class="swiper-slide">
            <figure class="slide-bgimg">
               <%= image_tag 'bannernew2.webp', class: 'img-fluid w-100 h-100', alt: "A'sTechware Banner Image 1"  %>
            </figure>
            <div class="content">
               <p class="title mb-3">Let us help you reach your online potential - take your presence to the next level!</p>
               <span class="caption">Our vision is to become the industry leader in software development, and to be recognized for our cutting-edge technologies and exceptional customer service. We strive to constantly innovate and stay ahead of the curve in our field, by continuously updating our tools, technologies, and methodologies.</span>
            </div>
         </div>
         <div class="swiper-slide">
            <figure class="slide-bgimg">
               <%= image_tag 'bannernew3.webp', class: 'img-fluid w-100 h-100', alt: "A'sTechware Banner Image 1"  %>
            </figure>
            <div class="content">
               <p class="title mb-3">Transforming your business with software solutions that drive success.</p>
               <span class="caption">We create software that improves people's lives and makes the world a better place. We believe that by harnessing the power of technology, we can create solutions to some of the world's most pressing challenges, and drive progress and innovation in every industry and field.</span>
            </div>
         </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
   </div>
   <!-- Hero slider-controls -->
   <div class="slider-progress-bar">
      <span>
         <svg class="circ" width="50" height="50">
            <circle class="circ2" cx="25" cy="25" r="23" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none"></circle>
            <circle class="circ1" cx="25" cy="25" r="23" stroke="#fff" stroke-width="2" fill="none"></circle>
         </svg>
      </span>
   </div>
</div>
<div class="inner-sections">
   <div class="what-we-do py-5">
      <div class="container">
         <h2 class="heading-border text-center heading-center mb-4 pb-3">What We Do</h2>
         <p class="large-para mb-3 text-center">Our services are defined by quality and commitment.</p>
         <div class="row g-4">
            <div class="col-12 col-md-4">
               <div class="card rounded-0 border-0 p-4 h-100">
                  <svg class="mb-4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                     <path d="M248,129.1L306.9,80H384V0H192v80h56V129.1z M208,64V16h160v48h-66.9L264,94.9V64H208z"></path>
                     <path d="M224,32h16v16h-16V32z"></path>
                     <path d="M256,32h64v16h-64V32z"></path>
                     <path d="M336,32h16v16h-16V32z"></path>
                     <path d="M407.2,480l-6.5-64.8C427.5,411,448,387.9,448,360V256h-32v-11.1c0-10.9-6-20.6-15.6-25.6C410,210.5,416,198,416,184v-16
                        c0-26.5-21.5-48-48-48s-48,21.5-48,48v16c0,20.7,13.2,38.3,31.6,45.1L308.7,272h-44.9c-0.9-13.3-10.1-25-23-28.7L208,234v-14.3
                        c9.8-8.8,16-21.5,16-35.7v-16c0-26.5-21.5-48-48-48s-48,21.5-48,48v16c0,14.2,6.2,26.9,16,35.7V234l-32.8,9.4
                        C97.5,247.2,88,259.9,88,274.1V304H56v48h16v128H0v16h496v-16H407.2z M336,352v-36.7l56.7-56.7c4.1-4.1,6.5-9.6,7.1-15.3
                        c0.1,0.6,0.2,1.1,0.2,1.7V344c0,13.2-10.8,24-24,24h-64v-16H336z M312,416h40.8l6.4,64H312V416z M368.8,416h15.9l6.4,64h-15.9
                        L368.8,416z M416,344v-72h16v88c0,22.1-17.9,40-40,40h-80v-16h64C398.1,384,416,366.1,416,344z M336,184v-16c0-17.6,14.4-32,32-32
                        s32,14.4,32,32v16c0,17.6-14.4,32-32,32S336,201.6,336,184z M315.3,288l53.4-53.4c1.7-1.7,4-2.6,6.3-2.6c4.9,0,9,4,9,9
                        c0,2.4-1,4.7-2.6,6.3L324.7,304H240c-4.4,0-8-3.6-8-8s3.6-8,8-8H315.3z M144,168c0-17.6,14.4-32,32-32s32,14.4,32,32v16
                        c0,17.6-14.4,32-32,32s-32-14.4-32-32V168z M176,232c5.6,0,11-1,16-2.8v8.6c-2,3.1-7.5,10.2-16,10.2s-14-7.1-16-10.2v-8.6
                        C165,231,170.4,232,176,232z M104,274.1c0-7.1,4.8-13.4,11.6-15.4l33-9.4c4.6,6,13.7,14.7,27.4,14.7s22.8-8.6,27.4-14.7l33,9.4
                        c6.1,1.8,10.4,7.1,11.3,13.3H240c-13.2,0-24,10.8-24,24c0,2.8,0.6,5.5,1.5,8H104V274.1z M72,320h248v16H72V320z M88,384h24v-16H88
                        v-16h208v16H128v16h168v96h-19.1l-16-32H123.1l-16,32H88V384z M259.1,480H124.9l8-16h118.1L259.1,480z"></path>
                  </svg>
                  <h4 class="mb-3">Consulting</h4>
                  <p class="m-0">We help you create a clear digital strategy that optimizes your path to comprehensive, technology-led business success.</p>
               </div>
            </div>
            <div class="col-12 col-md-4">
               <div class="card rounded-0 border-0 p-4 h-100">
                  <svg class="mb-4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                     <g>
                        <path d="M149.1,99.5c2.9,0.6,5.3,1,7.7,1.5c1,0.2,1.6,0,2.3-0.8c3.1-4.3,6.8-8,11-11.2c0.5-0.4,0.8-1.4,0.7-2.1
                           c-0.3-2.4-0.8-4.8-1.3-7.2c-0.2-1,0.1-1.5,1.1-1.9c4-1.6,8.1-3.3,12.1-5c1.1-0.4,1.8-0.5,2.5,0.7c1.2,2,2.6,3.9,3.9,5.9
                           c0.6,0.8,1.1,1.3,2.3,1c5-1.1,10.1-1,15.2-0.1c1.2,0.2,1.8-0.1,2.5-1.1c1.2-1.9,2.6-3.8,3.8-5.7c0.7-1.1,1.4-1.4,2.5-0.9
                           c4,1.7,8.1,3.5,12.2,5.2c0.9,0.4,1,1,0.9,1.9c-0.5,2.5-0.9,4.9-1.1,7.4c-0.1,0.6,0.4,1.5,0.9,1.9c4.3,3.2,8,6.9,11.2,11.2
                           c0.3,0.4,1.1,0.7,1.7,0.6c2.5-0.4,5-1,7.6-1.4c0.5-0.1,1.5,0.3,1.7,0.8c1.8,4.2,3.5,8.6,5.4,12.8c0.4,1,0.1,1.4-0.6,1.9
                           c-2.1,1.3-4.1,2.7-6.1,4.1c-0.5,0.4-0.9,1.2-0.9,1.9c-0.1,5.3-0.1,10.6,0.1,15.9c0,0.7,0.5,1.7,1.1,2.2c1.9,1.5,3.9,2.7,6,4
                           c0.8,0.5,1,1,0.6,1.9c-1.8,4.2-3.6,8.4-5.3,12.7c-0.4,1-0.8,1.1-1.8,0.9c-2.5-0.5-5.1-1-7.6-1.3c-0.5-0.1-1.4,0.2-1.7,0.6
                           c-3.1,4.3-6.7,8.1-11,11.1c-1.2,0.9-1.2,1.8-0.9,3c0.5,2.2,0.9,4.4,1.4,6.5c0.3,1.1-0.1,1.6-1,1.9c-4,1.6-8,3.3-11.9,5
                           c-1.3,0.6-2.2,0.5-3.1-0.9c-1.2-2-2.6-3.8-3.8-5.7c-0.5-0.8-1.1-1-2.1-0.8c-5.3,0.9-10.7,0.9-16,0c-0.4-0.1-1,0.2-1.3,0.6
                           c-1.5,2-2.9,4.1-4.2,6.2c-0.7,1.1-1.4,1.4-2.6,0.9c-4.1-1.8-8.2-3.5-12.4-5.1c-1.1-0.4-1-1.2-0.8-2.1c0.5-2.3,0.8-4.6,1.4-6.9
                           c0.3-1.1,0-1.7-0.9-2.3c-4.1-2.9-7.6-6.4-10.6-10.4c-0.9-1.3-1.9-1.6-3.3-1.3c-2.1,0.5-4.3,0.9-6.4,1.4c-1,0.2-1.6-0.1-2-1
                           c-1.8-4.3-3.6-8.5-5.3-12.9c-0.2-0.4,0.2-1.3,0.6-1.6c1.8-1.4,3.7-2.8,5.7-3.9c1.6-0.9,1.6-2,1.5-3.5c-0.2-3.5-0.4-6.9-0.5-10.4
                           c0-1.2,0.3-2.4,0.5-3.7c0.3-1.4-0.1-2.3-1.4-3c-2-1.2-3.8-2.6-5.7-3.8c-0.8-0.5-1.1-1-0.7-1.9c1.7-4.2,3.4-8.4,5.2-12.5
                           C148,100.1,148.8,99.8,149.1,99.5z M216.3,79.9c-1.4,2.1-2.9,4.1-4.2,6.3c-0.7,1.2-1.5,1.4-2.8,1.1c-7-1.6-14.1-1.8-21.1,0
                           c-0.5,0.1-1.4-0.2-1.7-0.6c-1.4-1.8-2.6-3.6-3.8-5.5c-0.5-0.8-1-1.3-1.9-0.7c-1.3,1-3.7,0.4-4.1,2.7c-0.1,0.3,0,0.7,0.1,1
                           c0.4,2,0.6,4,1.2,5.9c0.3,1.1-0.1,1.5-0.9,2c-6.1,3.9-11.3,8.7-15,15c-0.5,0.9-1.1,1.1-2.1,0.9c-2.2-0.4-4.4-0.8-6.6-1.1
                           c-0.5-0.1-1.3,0.3-1.6,0.7c-0.6,1.1-1.1,2.2-1.3,3.4c-0.1,0.5,0.2,1.4,0.6,1.7c1.7,1.3,3.5,2.4,5.3,3.5c1,0.6,1.3,1.3,1,2.5
                           c-1.7,7-1.8,14,0,20.9c0.3,1.1,0,1.8-0.9,2.4c-1.8,1.2-3.7,2.3-5.4,3.7c-2.1,1.7,0.6,3.1,0.6,4.7c0,0.8,0.7,1.4,1.7,1.1
                           c0.3-0.1,0.6-0.1,0.8-0.1c1.8-0.4,3.6-0.7,5.4-1.2c1.2-0.3,2-0.1,2.7,1c3.8,6.2,8.7,11.3,15,15c0.9,0.5,1,1.1,0.8,2.1
                           c-0.5,2.1-0.9,4.2-1.3,6.2c-0.2,1,0,1.7,1.1,2c1.4,0.4,2.7,1,4.1,1.6c1.5-2.2,3-4.4,4.4-6.6c0.6-0.9,1.2-1,2.1-0.8
                           c7,1.9,14.1,1.8,21.1,0c1.1-0.3,1.8-0.1,2.4,0.9c1.2,1.9,2.5,3.7,3.7,5.6c0.5,0.8,1.2,0.8,1.8,0.4c1.3-0.9,3.4-0.5,4-2.4
                           c0.1-0.2-0.1-0.5-0.2-0.8c-0.4-2.1-0.8-4.2-1.2-6.2c-0.2-1,0-1.5,0.9-2c5.4-3.2,9.8-7.5,13.4-12.7c2.8-4,2.8-3.9,7.6-2.6
                           c0.2,0,0.3,0.1,0.5,0.2c3.5,0.8,3.5,0.8,4.8-2.6c0.1-0.3,0.2-0.6,0.3-0.8c0.9-1.1,0.3-1.8-0.7-2.4c-1.7-1.1-3.4-2.2-5-3.3
                           c-0.9-0.6-1.3-1.1-1-2.4c1.8-6.9,1.6-13.9,0-20.8c-0.4-1.5,0.1-2.1,1.2-2.9c2.1-1.3,4.1-2.7,6.1-4.1c-0.7-1.5-1.3-2.9-1.8-4.3
                           c-0.3-0.9-0.8-1.1-1.7-0.9c-2.1,0.5-4.3,0.8-6.4,1.3c-1,0.2-1.7-0.1-2.3-1.1c-1.7-2.5-3.5-4.9-5.5-7.1c-2.6-2.9-5.5-5.4-8.9-7.3
                           c-1.3-0.7-1.9-1.7-1.4-3.3c0.6-1.9,0.8-3.8,1.2-5.7c0.2-0.9-0.1-1.4-1-1.7C219.1,81.1,217.8,80.5,216.3,79.9z"></path>
                        <path d="M37.2,172.5c-0.7-3.2-1.8-6-1.8-8.8c0-3-2-4.9-2.7-7.4c-0.7-2.6-1.7-5.1-2.9-7.5c-3.2-6.6-6.9-13.1-9.8-19.8
                           c-1.5-3.5-2.4-7.5-2.7-11.3c-1-12.3,3-23.1,11.6-32c8.6-8.8,19.2-12.9,31.5-12.3c8.8,0.4,16.6,3.4,23.5,8.8
                           c6.6,5.1,11.2,11.7,13.7,19.6c1.8,5.6,2.4,11.4,1.7,17.4c-0.8,7.6-4.2,14.1-7.9,20.6c-4.3,7.7-7.5,15.8-9.7,24.4
                           c-0.6,2.2-1.1,4.4-1.8,6.6c-0.4,1.3,0,1.8,1.3,1.7c1.1-0.1,2.1,0,3.2,0c1,0,1.4,0.3,1.4,1.4c-0.2,6.3,1,5.1-4.8,5.2
                           c-2.5,0.1-2.5,0-2.8,2.4c-0.5,3.5-1.8,6.5-5.1,8.4c-0.7,0.4-1,1.7-1.4,2.6c-2.5,6.8-10.5,10.7-17.4,8.6c-5.1-1.6-8.3-4.8-10-9.8
                           c-0.2-0.6-0.7-1.2-1.2-1.5c-2.9-1.7-4.4-4.2-4.7-7.5c-0.3-3.2-0.3-3.2-3.4-3.2c-0.1,0-0.1,0-0.2,0c-4.6,0-5.3-0.8-4.3-5.4
                           c0.1-0.5,0.9-1.1,1.5-1.1C33.9,172.4,35.4,172.5,37.2,172.5z M58.6,172.5c4.5,0,9,0,13.5,0c0.9,0,1.4-0.2,1.7-1.2
                           c1-4.1,1.9-8.2,3-12.2c2.5-9,6.1-17.5,11-25.5c5.9-9.8,7.5-20.2,3.5-31c-4.9-13.3-14.8-20.7-28.6-22.8c-6.5-1-13,0.2-18.9,3.1
                           c-10.6,5.3-17.1,13.7-19.5,25.3c-1.5,7.3-0.6,14.2,2.9,20.8c2.4,4.6,5,9.2,7.3,14c4.3,8.9,7.1,18.3,9.1,28c0.2,1.2,0.7,1.5,1.9,1.5
                           C49.7,172.5,54.1,172.5,58.6,172.5z M44.8,179.2c0.1,1,0.3,1.9,0.4,2.8c0.2,1.7,1,2.6,2.7,2.6c7,0,14,0.1,21,0
                           c0.8,0,1.9-0.5,2.2-1.1c0.6-1.1,0.7-2.4,0.8-3.7c0-0.2-1.6-0.6-2.5-0.6c-7.5,0-15,0-22.5,0C46.3,179.1,45.6,179.2,44.8,179.2z
                           M51.4,191.2c1.7,2.8,4,3.9,6.8,4c3.1,0.1,5.6-1.2,7.4-4C60.8,191.2,56.3,191.2,51.4,191.2z"></path>
                        <path d="M182,47c-2.9-2.2-5.6-4.5-8.6-6.6c-6.3-4.4-12.9-8.2-20.1-10.9c-6.3-2.4-12.9-3.9-19.7-4.8c-7.1-0.9-14.2-0.5-21.3,0.6
                           c-7.2,1.2-14.2,3.4-20.9,6.4c-5.7,2.6-11.2,5.6-16.2,9.4c-0.8,0.6-1.4,0.6-2-0.2c-0.8-0.9-1.6-1.9-2.4-2.8
                           c-0.6-0.7-0.5-1.3,0.3-1.9c7.7-5.6,16.1-9.9,25.1-13.2c11.2-4,22.7-5.7,34.5-5c6.8,0.4,13.4,1.7,19.9,3.8c7.2,2.3,14,5.4,20.3,9.4
                           c5,3.2,9.6,6.9,14.4,10.4c0.4,0.3,0.7,0.5,1.3,0.9c0.1-0.6,0.2-1,0.2-1.4c-0.2-3.3-0.3-6.6-0.5-9.9c-0.1-1.3,0.4-1.9,1.7-1.8
                           c0.2,0,0.4,0,0.7,0c4.6-0.4,3.9-0.6,4.2,4c0.3,4.4,0.2,8.9,0.4,13.3c0.1,1.7,0.2,3.5,0.4,5.2c0.1,1-0.3,1.5-1.4,1.6
                           c-7,0.3-14,0.6-21,0.9c-1.2,0.1-1.8-0.3-1.8-1.6c0-0.7-0.1-1.5-0.1-2.2c-0.1-2.5-0.1-2.5,2.5-2.6c3.3-0.2,6.7-0.3,10-0.5
                           C181.8,47.3,181.9,47.1,182,47z"></path>
                        <path d="M186.7,213.5c-4.1,3.1-8,6.1-12,8.8c-8.1,5.6-16.9,9.8-26.3,12.6c-9.3,2.7-18.8,3.8-28.4,3.1c-6.8-0.5-13.4-1.8-19.9-3.7
                           c-7.5-2.3-14.6-5.4-21.3-9.3c-2.7-1.6-5.2-3.4-7.8-5.1c-0.8-0.6-0.9-1.1-0.2-1.9c0.8-0.9,1.6-1.9,2.4-2.8c0.6-0.7,1.1-0.8,2-0.2
                           c4.6,2.9,9.1,6.1,14,8.6c4.6,2.3,9.5,3.9,14.4,5.5c8.5,2.8,17.3,3.4,26.2,3c6.4-0.3,12.6-1.6,18.7-3.6c9.9-3.2,18.7-8.1,27-14.3
                           c2.2-1.6,4.3-3.4,6.5-5.2c-0.1-0.1-0.1-0.3-0.2-0.4c-2.6-0.1-5.2-0.3-7.8-0.4c-1.2-0.1-2.5,0-3.7-0.3c-0.4-0.1-1-0.8-1.1-1.3
                           c-0.1-1.2,0.2-2.3,0.2-3.5c0-1.2,0.6-1.5,1.7-1.4c6.3,0.3,12.5,0.6,18.8,0.9c3.9,0.2,3.8-0.7,3.6,3.9c-0.1,2.8-0.6,5.7-0.7,8.5
                           c-0.1,3.3-0.1,6.7-0.1,10c0,1.6-0.6,2-2.1,1.7c-0.8-0.1-1.6-0.1-2.3-0.1c-1.6,0.1-2.1-0.6-2-2.2c0.3-3.2,0.4-6.3,0.5-9.5
                           C186.8,214.5,186.7,214.1,186.7,213.5z"></path>
                        <path d="M26.5,78.8c-0.4,0.5-0.8,1-1.2,1.5c-2.7,3.1-2.8,3.1-5.7,0.4c-1.3-1.2-2.5-2.6-3.8-3.8c-0.8-0.7-0.8-1.3,0-1.9
                           c1-0.9,1.9-1.9,2.9-2.8c0.3-0.3,1.2-0.4,1.4-0.2c2.1,2,4.1,4.1,6.1,6.2C26.3,78.2,26.3,78.4,26.5,78.8z"></path>
                        <path d="M61.7,61.8c0,1.2,0,2.5,0,3.7c0,1-0.4,1.5-1.4,1.5c-0.1,0-0.1,0-0.2,0c-5.6,0-4.7,0.7-4.8-4.5c0-1.5,0-3,0-4.5
                           c0-0.9,0.4-1.4,1.4-1.4c6.1,0.1,4.8-0.8,5,4.6C61.7,61.4,61.7,61.6,61.7,61.8z"></path>
                        <path d="M22.3,146.7c0.4,0.2,0.7,0.4,1,0.7c0.9,0.9,1.7,1.8,2.6,2.6c0.8,0.7,0.6,1.3,0,2c-1.9,1.8-3.7,3.7-5.6,5.6
                           c-0.7,0.7-1.1,0.6-1.8,0c-3.8-3.4-3.8-3.4-0.2-7c1-1,2-2,3-2.9C21.5,147.2,21.9,147,22.3,146.7z"></path>
                        <path d="M90.1,150.5c1.2-1.1,2.4-2.3,3.8-3.3c0.3-0.2,1.2-0.2,1.5,0c2,1.9,3.9,3.8,5.8,5.8c0.2,0.3,0,1,0,1.5
                           c0,0.1-0.2,0.3-0.3,0.4c-3.3,3.5-3.3,3.4-6.7,0.1c-1.3-1.3-2.8-2.4-4.2-3.5C90,151.2,90,150.9,90.1,150.5z"></path>
                        <path d="M89.9,79c2-2.1,3.7-3.8,5.3-5.5c2.2-2.2,2.2-2.2,4.4,0c2.8,2.9,2.4,2,0.1,4.5c-1.3,1.4-2.8,2.8-4.1,4.2
                           c-0.6,0.6-1.1,0.8-1.9,0.1C92.5,81.2,91.3,80.2,89.9,79z"></path>
                        <path d="M111.6,111.8c1.2,0,2.5,0,3.7,0c1,0,1.4,0.3,1.5,1.3c0.4,4.9,0.4,4.9-4.5,4.9c-1.5,0-3,0-4.5,0c-1.1,0-1.5-0.4-1.5-1.5
                           c-0.2-4.8-0.2-4.8,4.5-4.8C111.1,111.8,111.3,111.8,111.6,111.8z"></path>
                        <path d="M5.2,118c-0.4,0-0.8,0-1.2,0c-1.3-0.1-3.5,0-3.7-0.5c-0.6-1.5-0.3-3.3-0.2-4.9c0-0.3,0.7-0.7,1.1-0.7
                           c2.7-0.1,5.5-0.1,8.2,0c0.4,0,0.7,0.6,1.1,0.9c0.1,0.1,0,0.3,0,0.5C10.8,118,10.8,118,5.2,118z"></path>
                        <path d="M199.2,159c-16.8,0.2-30.1-13.3-30-30c0.1-17,13.5-30.1,30.2-29.9c16.6,0.2,29.7,12.8,29.9,29.9
                           C229.3,145.6,216,159.2,199.2,159z M175.6,129c-0.3,12.9,10.3,23.7,23.5,23.8c13,0,23.6-10.6,23.7-23.5
                           c0.1-12.8-10.3-23.9-23.6-23.9C186.2,105.4,175.3,116.3,175.6,129z"></path>
                        <path d="M59.7,90.3c0,0.6,0,1.1,0,1.7c0,0.9-0.4,1.3-1.3,1.4c-9,0.5-15.4,5.1-19.9,12.7c-0.6,0.9-1.1,1.1-2,0.6
                           c-0.3-0.2-0.6-0.4-0.9-0.5c-3.6-1.9-3.6-1.9-1.3-5.4c4.4-6.4,10.2-10.9,17.8-12.8c1.7-0.4,3.5-0.7,5.3-0.8c2-0.2,2.2,0,2.2,2.1
                           C59.7,89.5,59.7,89.9,59.7,90.3z"></path>
                     </g>
                  </svg>
                  <h4 class="mb-3">Implementation</h4>
                  <p class="m-0">Our expertise spans all major technologies and business functions, empowering us to deliver comprehensive business solutions.</p>
               </div>
            </div>
            <div class="col-12 col-md-4">
               <div class="card rounded-0 border-0 p-4 h-100">
                  <svg class="mb-4" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                     <g>
                        <g>
                           <path d="M509,355.9l-24.4-24.2c-3.9-3.9-10.3-3.9-14.1,0.1c-3.9,3.9-3.9,10.3,0.1,14.1l24.4,24.2c2,1.9,4.5,2.9,7,2.9
                              c2.6,0,5.1-1,7.1-3C513,366.1,513,359.8,509,355.9z"></path>
                        </g>
                     </g>
                     <g>
                        <g>
                           <path d="M459.8,306.9c-3.9-3.9-10.2-3.9-14.1,0l0,0c-3.9,3.9-3.9,10.2,0,14.1c2,2,4.5,2.9,7.1,2.9c2.6,0,5.1-1,7.1-2.9
                              C463.7,317.1,463.7,310.8,459.8,306.9z"></path>
                        </g>
                     </g>
                     <g>
                        <g>
                           <path d="M374.5,353l97-97c14.7-14.7,14.7-38.6,0-53.3c-5.2-5.2-11.5-8.5-18.2-10.1c2.3-4.9,3.5-10.3,3.5-15.9
                              c0-10.1-3.9-19.5-11-26.7c-5.6-5.6-12.6-9.2-20.2-10.5c4.3-13.1,1.3-28.1-9.1-38.5c-5.7-5.7-12.8-9.2-20.2-10.5
                              c1.2-3.8,1.9-7.7,1.9-11.8c0-10.1-3.9-19.5-11-26.7c-7.1-7.1-16.6-11-26.7-11c-6.4,0-12.5,1.6-18,4.6l-1-1
                              c-12.5-13.5-30.3-21.2-48.7-21.2h-78.5c-5.5,0-10,4.5-10,10v13.1c0,5.2,0.9,10.4,2.6,15.2c-4.5-1.9-9.4-2.9-14.5-2.9
                              c-10.1,0-19.5,3.9-26.7,11c-10.4,10.4-13.4,25.4-9.1,38.5c-7.4,1.3-14.5,4.8-20.2,10.5c-7.1,7.1-11,16.6-11,26.7
                              c0,4.1,0.7,8.1,1.9,11.8c-7.6,1.3-14.6,4.9-20.2,10.5c-11.5,11.5-14,28.6-7.5,42.5c-6.8,1.6-13.1,5-18.2,10.1
                              c-14.7,14.7-14.7,38.6,0,53.3l20,20L2.9,391.9c-3.9,3.9-3.9,10.2,0,14.1c2,2,4.5,2.9,7.1,2.9s5.1-1,7.1-2.9l99.2-99.2
                              c5.6,3.2,12,4.9,18.6,4.9c10.1,0,19.5-3.9,26.7-11c7.7-7.7,11.4-18,11-28.2c0.5,0,1,0,1.5,0c9.6,0,19.3-3.7,26.7-11
                              c7.1-7.1,11-16.6,11-26.7c0-0.5,0-1,0-1.5c0.5,0,1,0,1.5,0c9.7,0,19.3-3.7,26.7-11c7.1-7.1,11-16.6,11-26.7c0-0.5,0-1,0-1.5
                              c0.5,0,1,0,1.5,0c9.7,0,19.3-3.7,26.7-11c13.8-13.8,14.6-35.8,2.5-50.5l66.4-66.4c3.3-3.3,7.8-5.2,12.5-5.2s9.2,1.8,12.5,5.2
                              c3.3,3.3,5.2,7.8,5.2,12.5c0,4.7-1.8,9.2-5.2,12.5l-9.8,9.8l-35.5,35.5c-3.9,3.9-3.9,10.2,0,14.1c2,2,4.5,2.9,7.1,2.9
                              s5.1-1,7.1-2.9l35.5-35.5c6.9-6.9,18.1-6.9,25,0c6.9,6.9,6.9,18.1,0,25l-9.8,9.8l-25.7,25.7c-3.9,3.9-3.9,10.2,0,14.1
                              c2,2,4.5,2.9,7.1,2.9s5.1-1,7.1-2.9l25.7-25.7c3.3-3.3,7.8-5.2,12.5-5.2c4.7,0,9.2,1.8,12.5,5.2c3.3,3.3,5.2,7.8,5.2,12.5
                              c0,4.7-1.8,9.2-5.2,12.5l-13.4,13.4L405.9,215c-3.9,3.9-3.9,10.2,0,14.1c2,2,4.5,2.9,7.1,2.9s5.1-1,7.1-2.9l12.3-12.3
                              c6.9-6.9,18.1-6.9,25,0c6.9,6.9,6.9,18.1,0,25l-97,97c-24.4,24.4-56.7,38.5-91.2,39.7c-2.5,0.1-4.9,1.1-6.7,2.9l-89.6,90
                              c-3.9,3.9-3.9,10.2,0,14.1c2,1.9,4.5,2.9,7.1,2.9c2.6,0,5.1-1,7.1-2.9l65.9-66.2c16.7,10.7,36.4,15.9,56.5,14.5l51.6,51.6
                              c2,2,4.5,2.9,7.1,2.9c2.6,0,5.1-1,7.1-2.9c3.9-3.9,3.9-10.2,0-14.1l-54.9-54.9c-2.1-2.1-5-3.1-7.9-2.9l-3.2,0.3
                              c-14.6,1.2-29.1-2-41.7-9.1l6.4-6.5C311.9,396,347.5,380,374.5,353z M147.4,286.6c-3.3,3.3-7.8,5.2-12.5,5.2
                              c-4.7,0-9.2-1.8-12.5-5.2l-27-27c-6.9-6.9-6.9-18.1,0-25c3.3-3.3,7.8-5.2,12.5-5.2c4.7,0,9.2,1.8,12.5,5.2l27,27
                              C154.3,268.5,154.3,279.7,147.4,286.6z M186.5,247.4c-6.9,6.9-18.1,6.9-25,0l-27-27L121.1,207c-6.9-6.9-6.9-18.1,0-25
                              c3.3-3.3,7.8-5.2,12.5-5.2c4.7,0,9.2,1.8,12.5,5.2l40.5,40.5c0,0,0,0,0,0c3.3,3.3,5.2,7.8,5.2,12.5S189.9,244.1,186.5,247.4z
                              M225.7,208.3c-6.9,6.9-18.1,6.9-25,0L150.4,158c-3.3-3.3-5.2-7.8-5.2-12.5c0-4.7,1.8-9.2,5.2-12.5c3.4-3.4,8-5.2,12.5-5.2
                              c4.5,0,9.1,1.7,12.5,5.2l22.9,22.9l27.4,27.4h0c3.3,3.3,5.2,7.8,5.2,12.5C230.9,200.5,229,204.9,225.7,208.3z M264.9,169.1
                              c-6.9,6.9-18.1,6.9-25,0l-50.3-50.3c0,0,0,0,0,0l-9.8-9.8c-6.9-6.9-6.9-18.1,0-25c3.4-3.4,8-5.2,12.5-5.2s9.1,1.7,12.5,5.2l60,60
                              c3.3,3.3,5.2,7.8,5.2,12.5C270,161.3,268.2,165.8,264.9,169.1z M267.5,118.4L240,91c3.1,0.7,6.3,1,9.6,1c0.1,0,0.1,0,0.2,0
                              l27.4-0.1c5.5,0,10-4.5,10-10c0-5.5-4.5-10-10-10c0,0,0,0,0,0L249.7,72c0,0-0.1,0-0.1,0c-6.8,0-13.1-2.6-17.9-7.4
                              c-4.8-4.8-7.5-11.2-7.5-18v-3.1h68.5c12.9,0,25.3,5.4,34.1,14.8l0.4,0.4L267.5,118.4z"></path>
                        </g>
                     </g>
                  </svg>
                  <h4 class="mb-3">Managed Services</h4>
                  <p class="m-0">Our global Managed Services teams secure your digital investment with 24x7 monitoring, maintenance, and end-to-end support.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- We've worked with some great companies (logos marquee from ahmad-kamran) -->
   <div class="py-5 bg-white" id="astechware_logos">
      <style>
         .logos-marquee {
         overflow: hidden;
         width: 100%;
         position: relative;
         }
         .logos-track {
         display: flex;
         width: max-content;
         animation: scroll-logos 30s linear infinite;
         gap: 48px;
         }
         @keyframes scroll-logos {
         0% { transform: translateX(0); }
         100% { transform: translateX(-50%); }
         }
         .logo-item img {
         max-height: 60px;
         width: auto;
         display: block;
         }
         @media (max-width: 600px) {
         .logos-track { gap: 24px; }
         .logo-item img { max-height: 40px; }
         }
      </style>
      <div class="container">
         <div class="text-center mb-4">
            <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">We&apos;ve worked with some great companies</h2>
         </div>
         <% logos = [
            { src: 'ahmad/logos/word_of_mouth_online_pty_ltd__logo.jpeg', alt: 'Word of Mouth Online Pty Ltd' },
            { src: 'ahmad/logos/vestra_software_solutions_logo.jpeg', alt: 'Vestra Software Solutions' },
            { src: 'ahmad/logos/zoficash_logo.jpeg', alt: 'Zoficash' },
            { src: 'ahmad/logos/golfpay.png', alt: 'Golfpay' },
            { src: 'ahmad/logos/rrf.jpeg', alt: 'RRF' },
            # { src: 'ahmad/logos/astechware_logo.jpeg', alt: 'Astechware' },
            { src: 'ahmad/logos/thegrantshub_logo.jpeg', alt: 'The Grants Hub' },
            { src: 'ahmad/logos/driftgolf_logo.jpeg', alt: 'DriftGolf' },
            { src: 'ahmad/logos/1630580396218.jpeg', alt: 'Selland Technologies' },
            { src: 'ahmad/logos/zidzid.jpeg', alt: 'ZidZid' },
            { src: 'ahmad/logos/warcoconstruction_logo.jpeg', alt: 'Warcoconstruction' },
            { src: 'ahmad/logos/instashowing_logo.jpeg', alt: 'Instashowing' },
            # { src: 'ahmad/logos/1725399994195.jpeg', alt: 'Eritheia Labs' },
            { src: 'ahmad/logos/sws.svg', alt: 'SWS' }
            ] %>
         <div class="logos-marquee">
            <div class="logos-track">
               <% (logos + logos).each do |logo| %>
               <div class="logo-item">
                  <%= image_tag logo[:src], alt: logo[:alt], class: 'img-fluid' %>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <div class="ceo-section pb-5 pt-4" id="astechware_about">
      <div class="container">
         <div class="row g-4">
            <div class="col-12 col-md-7">
               <div class="d-flex mb-5 align-items-center">
                  <%= image_tag 'logo-colored.png', class: 'img-fluid rounded-circle', style: "width: 80px; height: 80px;", alt: "A'sTechware Logo Colored"  %>
                  <div class="ms-3 text-white">
                     <h2 class="m-0">Bringing your vision to life</h2>
                     <span><em class="h5 fw-light">with our innovative solutions and expert team</em></span>
                  </div>
               </div>
               <p style="text-align: justify; text-justify: inter-word; margin-bottom: 5px;" class="pt-0 pt-md-4">
                  We at A'sTechware provide comprehensive AI-powered software development services to clients all around the world. Our services include web design & development, mobile application development, AI-integrated E-commerce platform development, enterprise software, and cloud management.
               </p>
               <p style="text-align: justify; text-justify: inter-word; margin-bottom: 5px;">
                  Our team consists of full-stack developers with extensive experience in Ruby on Rails, Angular, React, NodeJS, React Native, and other modern frontend frameworks. We have also expanded our expertise to include AI and machine learning integration, enabling us to build smarter, more adaptive, and future-ready solutions. Our staff has been thoroughly trained to prioritize the customer’s needs above everything else and remain dedicated to one project at a time. Our company policy is to deliver innovative, AI-enhanced, user-friendly products within the agreed-upon deadlines. Throughout the project, our team ensures complete transparency by keeping clients informed at every stage.
               </p>
               <p style="text-align: justify; text-justify: inter-word; margin-bottom: 5px;" >
                  Over the past five years, we have successfully delivered multiple international projects. By taking time to understand your business, customers, goals, strategies, and mission, we ensure that your next step is powered by the right technology and intelligent AI-driven insights.
               </p>
            </div>
            <div class="col-12 col-md-5">
               <%= image_tag 'img2.png', class: 'img-fluid w-100', alt: "A'sTechware Vision Image"  %>
            </div>
         </div>
      </div>
   </div>
   <div class="expertise-section py-5">
      <div class="container">
         <h2 class="heading-border text-center heading-center mb-5 pb-3">Expertise</h2>
         <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s1 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5> <a href="#" onclick="return false;">Web Design &amp; Development</a></h5>
                     <p>From design to deployment, we deliver custom web development solutions that exceed your expectations.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s2 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5> <a href="#" onclick="return false;">Mobile App Development</a></h5>
                     <p>Creating powerful mobile applications that drive engagement and growth for your business.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s3 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5> <a href="#" onclick="return false;">Software Development & <br/> AI Solutions</a></h5>
                     <p>We combine innovative technology, advanced AI capabilities, and industry expertise to create custom software solutions that drive smarter, faster.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s4 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-rocket" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5> <a href="#" onclick="return false;">Startup Solution</a></h5>
                     <p>From ideation to execution, we provide a full suite of services that help turn your vision into reality.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s5 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-mixcloud" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5>  <a href="#" onclick="return false;">DevOps</a></h5>
                     <p>Accelerate your software development lifecycle with our expert DevOps services that increase efficiency and productivity.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
               <div class="icon-box-s2 s6 text-center">
                  <div class="icon-main">
                     <span class="flaticon-browser"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                  </div>
                  <div class="content-box">
                     <h5> <a href="#" onclick="return false;">AI Automation</a></h5>
                     <p>Streamline your operations and boost productivity with our advanced AI-powered automation solutions.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Work Section (from ahmad-kamran Works) -->
   <div class="py-5 bg-light" id="ahmad_work">
      <div class="container">
         <div class="text-center mb-5">
            <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">Work</h2>
            <p class="large-para mb-4">Selected AI and SaaS projects delivered by Astechware.</p>
         </div>
         <div class="row g-4">
            <div class="col-12 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <%= image_tag 'ahmad/3agent.jpeg', class: 'card-img-top', alt: 'Vestra.app – Automating Property Management with AI-Powered Simplicity' %>
                  <div class="card-body">
                     <span class="badge bg-primary mb-2">Case Study</span>
                     <h3 class="h5">Case Study: Vestra.app – Automating Property Management with AI-Powered Simplicity</h3>
                     <p class="mb-3">
                        Vestra.app is a modern SaaS platform built for property managers, automating 80% of daily tasks with AI‑powered
                        financial insights, flexible rent collection, real‑time chat, and secure document storage.
                     </p>
                     <a href="/vestra-app-case-study" class="btn btn-primary btn-sm rounded-pill">Read case study</a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <%= image_tag 'ahmad/whatsapp-agent.jpeg', class: 'card-img-top', alt: 'WhatsApp & Voice AI Agent Demo' %>
                  <div class="card-body">
                     <span class="badge bg-secondary mb-2">AI Demo</span>
                     <h3 class="h5">WhatsApp &amp; Voice AI Agent Demo: Healthcare Triage &amp; Appointment Booking</h3>
                     <p class="mb-3">
                        Demo of WhatsApp and Voice AI agents for healthcare triage and appointment booking, with custom knowledge,
                        voice interactions, and automated escalation to human agents when needed.
                     </p>
                     <a href="/whatsapp-voice-ai-agent-demo" class="btn btn-primary btn-sm rounded-pill">View demo</a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <%= image_tag 'ahmad/repi-work.jpeg', class: 'card-img-top', alt: 'Modular AI Agents Case Study' %>
                  <div class="card-body">
                     <span class="badge bg-primary mb-2">Case Study</span>
                     <h3 class="h5">Case Study: Modular AI Agents That Save Time, Scale Outreach, and Automate Support</h3>
                     <p class="mb-3">
                        Modular, production‑ready AI agents for support, outreach, and operations, including WhatsApp, Voice, and Sales
                        Outreach agents designed for seamless integration and real impact.
                     </p>
                     <a href="/modular-ai-agents-case-study" class="btn btn-primary btn-sm rounded-pill">Read case study</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="industries-section text-white" id="particles-js">
      <div class="container-fluid p-0">
         <div class="row gx-0 position-relative">
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box">
                  <div class="top-sec-g">
                     <h2 class="heading-border mb-4 pb-3 text-start">Industries</h2>
                     <p class="text-start">Our deep experience in these and many other industries helps us rapidly deliver specialized solutions. </p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box s1 d-flex justify-content-center align-items-center">
                  <a href="#" onclick="return false;" class="industry-link"></a>
                  <div class="inner">
                     <h2 class="industry-name">Retail</h2>
                     <p>The retail industry involves the sale of goods or services directly to the end consumer. It includes both brick-and-mortar stores and online retailers.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box s2 d-flex justify-content-center align-items-center">
                  <a href="#" onclick="return false;" class="industry-link"></a>
                  <div class="inner">
                     <h2 class="industry-name">Golfing</h2>
                     <p>The golfing industry encompasses the production, distribution, and sale of golf equipment, accessories, and apparel, as well as the management and operation of golf courses, resorts, and related facilities. It also includes golf instruction, events, and professional tours.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box s3 d-flex justify-content-center align-items-center">
                  <a href="#" onclick="return false;" class="industry-link"></a>
                  <div class="inner">
                     <h2 class="industry-name">E-Commerce</h2>
                     <p>The e-commerce industry involves the buying and selling of goods and services over the internet, including online retail stores, marketplaces, and platforms. It also encompasses payment processing, logistics, and other related services.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box s4 d-flex justify-content-center align-items-center">
                  <a href="#" onclick="return false;" class="industry-link"></a>
                  <div class="inner">
                     <h2 class="industry-name">Real Estate</h2>
                     <p>The real estate industry involves the buying, selling, and renting of properties, including residential, commercial, and industrial buildings, land, and other real estate assets. It also encompasses property management, appraisal, financing, and development.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 position-relative">
               <div class="industry-box s5 d-flex justify-content-center align-items-center">
                  <a href="#" onclick="return false;" class="industry-link"></a>
                  <div class="inner">
                     <h2 class="industry-name">E-Learning</h2>
                     <p>The e-learning industry involves the use of electronic technologies, such as the internet and mobile devices, to deliver educational and training programs. It includes online courses, virtual classrooms, and digital learning materials, as well as related services like learning management systems and educational content development.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
         <div class="circle-container">
            <div class="circle"></div>
         </div>
      </div>
   </div>
   <div class="blogs-section py-5" id= "astechware_blogs">
      <div class="container">
         <div class="text-center">
            <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">Blogs</h2>
            <p class="large-para mb-5">News, research, client success stories, opinions, and perspectives on digital business technology.</p>
         </div>
         <%= render 'shared/all_blogs', blocked_link: root_path %>
      </div>
   </div>
   <!-- Writing Section (from ahmad-kamran BlogSection) -->
   <div class="py-5 bg-light" id="ahmad_writing">
      <div class="container">
         <div class="text-center mb-5">
            <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">Writing</h2>
            <p class="large-para mb-4">Deep dives into AI agents, SaaS case studies, and real product work.</p>
         </div>
         <div class="row g-5 align-items-center mb-5">
            <div class="col-12 col-lg-6">
               <div class="card border-0 shadow-sm h-100">
                  <%= image_tag 'ahmad/3agent.jpeg', class: 'card-img-top', alt: 'Vestra.app – Automating Property Management with AI-Powered Simplicity' %>
                  <div class="card-body">
                     <div class="mb-2">
                        <span class="badge bg-primary me-1">AI</span>
                        <span class="badge bg-secondary me-1">Case Study</span>
                        <span class="badge bg-light text-dark me-1">Property</span>
                        <span class="badge bg-light text-dark">SaaS</span>
                     </div>
                     <h3 class="h5">
                        Case Study: Vestra.app – Automating Property Management with AI‑Powered Simplicity
                     </h3>
                     <p class="mb-3">
                        Vestra.app is a modern SaaS platform built for property managers, automating 80% of daily tasks with AI‑powered
                        financial insights, flexible rent collection, real‑time chat, and secure document storage.
                     </p>
                     <a href="/vestra-app-case-study" class="btn btn-primary btn-sm rounded-pill">Read article</a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
                  <iframe
                     src="https://www.youtube.com/embed/zMX4jDXJ8uI"
                     title="Custom Software Solutions with Client Reviews | Astechware - Full Stack Engineer"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen
                     ></iframe>
               </div>
            </div>
         </div>
         <div class="row g-5 align-items-center mb-5">
            <div class="col-12 col-lg-6 order-lg-2">
               <div class="card border-0 shadow-sm h-100">
                  <%= image_tag 'ahmad/whatsapp-agent.jpeg', class: 'card-img-top', alt: 'WhatsApp & Voice AI Agent Demo' %>
                  <div class="card-body">
                     <div class="mb-2">
                        <span class="badge bg-primary me-1">AI</span>
                        <span class="badge bg-light text-dark me-1">Voice</span>
                        <span class="badge bg-light text-dark me-1">WhatsApp</span>
                        <span class="badge bg-light text-dark">Healthcare</span>
                     </div>
                     <h3 class="h5">
                        WhatsApp &amp; Voice AI Agent Demo: Healthcare Triage &amp; Appointment Booking
                     </h3>
                     <p class="mb-3">
                        This demo showcases how WhatsApp and Voice AI agents can triage symptoms, book appointments, and escalate
                        conversations to human operators, all backed by custom knowledge.
                     </p>
                     <a href="/whatsapp-voice-ai-agent-demo" class="btn btn-primary btn-sm rounded-pill">View demo</a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
               <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
                  <iframe
                     src="https://www.youtube.com/embed/IK8swdj1g6s"
                     title="Real-Time AI WhatsApp & Voice Agent (Agentic) Demo | Built with RAG, OpenAI, Twilio, LangChain"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen
                     ></iframe>
               </div>
            </div>
         </div>
         <div class="row g-5 align-items-center">
            <div class="col-12 col-lg-6">
               <div class="card border-0 shadow-sm h-100">
                  <%= image_tag 'ahmad/repi-work.jpeg', class: 'card-img-top', alt: 'Modular AI Agents Case Study' %>
                  <div class="card-body">
                     <div class="mb-2">
                        <span class="badge bg-primary me-1">AI</span>
                        <span class="badge bg-secondary me-1">Case Study</span>
                        <span class="badge bg-light text-dark me-1">Automation</span>
                        <span class="badge bg-light text-dark">Agents</span>
                     </div>
                     <h3 class="h5">
                        Case Study: Modular AI Agents That Save Time, Scale Outreach, and Automate Support
                     </h3>
                     <p class="mb-3">
                        Discover how modular, production‑ready AI agents are transforming SaaS teams by automating support, scaling
                        outreach, and saving hours every week.
                     </p>
                     <a href="/modular-ai-agents-case-study" class="btn btn-primary btn-sm rounded-pill">Read article</a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
                  <iframe
                     src="https://www.youtube.com/embed/d9ve3TxLFVI"
                     title="Agentic AI Marketing Agent For Weekly Performance Reports | Built with n8n, Stripe, OpenAI, Intercom"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen
                     ></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Clients Section (from ahmad-kamran Testimonials) -->
   <div class="py-5 bg-light" id="ahmad_clients">
      <div class="container">
         <div class="text-center mb-5">
            <h2 class="heading-border heading-center mb-3 pb-3 d-inline-block">Clients</h2>
            <p class="large-para mb-4">All client testimonials from Astechware&apos;s portfolio.</p>
         </div>
         <div class="row g-4">
            <%# 1. Nathan %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/nathan.jpeg', class: 'rounded-circle me-3', alt: 'Nathan - Vestro Software', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Nathan</h5>
                              <small class="text-muted">Founder at Vestra Software</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Working with Ahmad and Astechware has been an incredible experience. They have demonstrated deep technical expertise, clear
                        communication, and a commitment to delivering a high‑quality product to our team.
                     </p>
                  </div>
               </div>
            </div>
            <%# 2. FKA Novara %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/Screenshot_1.png', class: 'rounded-circle me-3', alt: 'FKA Novara', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">FKA Novara</h5>
                              <small class="text-muted">Startup Founder</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">Germany</span>
                     </div>
                     <p class="mb-0">
                        We came to meet Ahmad and Astechware in 2020 as a startup looking for a developer who could finalize a mockup based on Ruby on Rails.
                        With Ahmad and Astechware&apos;s help, we brought our application into production, achieving excellent stability and fully meeting
                        customer requirements.
                     </p>
                  </div>
               </div>
            </div>
            <%# 3. Joseph Chiavatti %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/joseph.jpeg', class: 'rounded-circle me-3', alt: 'Joseph Chiavatti', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Joseph Chiavatti</h5>
                              <small class="text-muted">Technology Founder &amp; REALTOR®</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware have helped us with several projects in our company. They are fantastic communicators and do great work.
                        They care about making sure the project is completed the correct way and are quick to communicate on the channels we use.
                     </p>
                  </div>
               </div>
            </div>
            <%# 4. Sven-Volker Nowarra %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/sven.jpeg', class: 'rounded-circle me-3', alt: 'Sven-Volker Nowarra', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Sven‑Volker Nowarra</h5>
                              <small class="text-muted">In‑A‑Gadda‑Da‑Vida</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">Germany</span>
                     </div>
                     <p class="mb-0">
                        Working with Ahmad and Astechware for more than a year, we are highly confident with the work and consider the results delivered
                        production ready. We are happy to continue our work with ahmad and Astechware and are highly confident with their work.
                     </p>
                  </div>
               </div>
            </div>
            <%# 5. William Schoeffler %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/william.jpeg', class: 'rounded-circle me-3', alt: 'William Schoeffler', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">William Schoeffler</h5>
                              <small class="text-muted">Co‑Founder and Product @ Hitch</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware are some of the hardest working engineers I&apos;ve met. They worked endlessly and around the clock to make incredibly
                        quick progress and took responsibility before deployment by doing detailed testing.
                     </p>
                  </div>
               </div>
            </div>
            <%# 6. Anthony Barry %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/IMG_9811.png', class: 'rounded-circle me-3', alt: 'Anthony Barry', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Anthony Barry</h5>
                              <small class="text-muted">
                              MBA | Investor | Sales Leader | Team Builder | Tech Enthusiast | Growth Marketer | Revenue Accelerator
                              </small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">Australia</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware have been a pleasure to work with since they joined the team. They are cooperative, responsive, and will go the extra
                        yard to meet time‑sensitive priorities.
                     </p>
                  </div>
               </div>
            </div>
            <%# 7. Ben Selland %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/ben-selland.jpeg', class: 'rounded-circle me-3', alt: 'Ben Selland', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Ben Selland</h5>
                              <small class="text-muted">Principal at Selland Technologies</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware have excellent engineers with a strong eye for details. I enjoy working with Ahmad and Astechware day to day and our team
                        members do as well.
                     </p>
                  </div>
               </div>
            </div>
            <%# 8. Dale Merritt %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/golf.jpeg', class: 'rounded-circle me-3', alt: 'Dale Merritt', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Dale Merritt</h5>
                              <small class="text-muted">Golfpay CEO | The &apos;1 Golf&apos; Company</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Been working with Ahmad and Astechware for almost two years, and they&apos;ve been great to work with. One of the most reliable
                        developers I&apos;ve had the pleasure to work with.
                     </p>
                  </div>
               </div>
            </div>
            <%# 9. Ania Dergachev %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/ania.png', class: 'rounded-circle me-3', alt: 'Ania Dergachev', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Ania Dergachev</h5>
                              <small class="text-muted">Product Designer</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">Canada</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware consistently demonstrate reliability and are great team players. They tackle complex problems with a positive
                        attitude and strong determination to find the best solution.
                     </p>
                  </div>
               </div>
            </div>
            <%# 10. Zach %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/zach.jpg', class: 'rounded-circle me-3', alt: 'Zach', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Zach Marion</h5>
                              <small class="text-muted">Founder at Shorline Waste Solution</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <p class="mb-0">
                        Ahmad and Astechware have been outstanding partners. They are responsive, detail‑oriented, and focused on delivering quality results. I highly recommend them for any project. Looking forward to working with them again in the future.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_9815.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 4 message' %>
                  </div>
               </div>
            </div>
              <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_9816.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 5 message' %>
                  </div>
               </div>
            </div>
            <%# 11. Brianne Harvey %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                           <%= image_tag 'ahmad/clients/Brianne.jpeg', class: 'rounded-circle me-3', alt: 'Brianne Harvey', style: 'width:64px;height:64px;object-fit:cover;' %>
                           <div>
                              <h5 class="mb-0">Brianne Harvey</h5>
                              <small class="text-muted">Founder at Restaurant Resource</small>
                           </div>
                        </div>
                        <span class="badge bg-light text-dark border">United States</span>
                     </div>
                     <%= image_tag 'ahmad/clients/IMG_0850.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 1 message' %>
                     </p>
                  </div>
               </div>
            </div>
          
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_9813.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 2 message' %>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_9814.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 3 message' %>
                  </div>
               </div>
            </div>
            <%# 12–16. Upwork Clients with screenshots (message images) %>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_9812.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 1 message' %>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card h-100 border-0 shadow-sm">
                  <div class="card-body text-center">
                     <%= image_tag 'ahmad/clients/IMG_0850.jpg', class: 'img-fluid mb-3 rounded', alt: 'Upwork Client 1 message' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="contact-us-section py-5" id="contact_us">
      <div class="container">
         <div class="text-center">
            <h2 class="heading-border heading-center mb-5 pb-3 d-inline-block">Tell us about your project</h2>
         </div>
         <%= form_for :form,  url: submit_form_path, method: :post, class: 'contact-form', data: {turbo: false, remote: true} do |f| %>
         <div class="row g-4">
            <div class="col-md-7">
               <div class="col-12 mb-4">
                  <%= f.select :reason, [ 'Mobile App Development', 'Enterprise Software Development', 'Web Development', 'Fixed Price Projects', 'IT Consulting', 'FinTech', 'Other' ], {prompt: 'How can we help you?'},{class: "form-control"} %>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6 mb-4">
                     <%= f.text_field :name, class: "form-control", placeholder: "Name*", required: true %>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                     <%= f.email_field :email, class: "form-control", placeholder: "Email*", required: true %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6 mb-4">
                     <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                     <%= f.text_field :company_name, class: "form-control", placeholder: "Company Name*", required: true %>
                  </div>
               </div>
               <div class="col-12 mb-4">
                  <%= f.text_area :cover_letter, class: "form-control", placeholder: "Cover Letters*", required: true, rows: 5 %>
               </div>
               <div class="row">
                  <div class="col-9">
                     <% if flash[:notice] %>
                     <div class="alert alert-warning" role="alert" id = "form-contact-alert">
                        We've recieved your query successfully, we will get back to you shortly.
                     </div>
                     <% end %>
                  </div>
                  <div class="col-3">
                     <div class="d-flex justify-content-end">
                        <%= f.submit "Send", class: "btn btn-primary rounded-pill"%>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-5">
               <div class="card mb-4">
                  <div class="d-flex p-4">
                     <div class="icon">
                        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                     </div>
                     <div class="txt-holder ps-4">
                        <h4 class="mb-3 heading-border">Email Us</h4>
                        <address class="m-0">
                           <p class="mb-0"><a href="mailto:ahmad@astechware.com">ahmad@astechware.com</a></p>
                        </address>
                     </div>
                  </div>
               </div>
               <div class="logos-holder d-flex justify-content-between align-items-start d-none">
                  <a href="#" onclick="return false;"><%= image_tag 'clutch.svg' %></a>
                  <a href="#" onclick="return false;"><%= image_tag 'good-firms.svg' %></a>
                  <a href="#" onclick="return false;"><%= image_tag 'top-developers.svg' %></a>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
<footer id="footer" class="text-center py-4">
   <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-column-reverse flex-sm-row">
         <span>
            ©<script>document.write(new Date().getFullYear())</script> All rights reserved.
         </span>
         <ul class="list-unstyled d-flex m-0 mb-2 mb-sm-0">
            <li class="me-3"><a href="#" onclick="return false;">Privacy Policy</a></li>
            <li><a href="#" onclick="return false;">Terms of use</a></li>
         </ul>
      </div>
   </div>
</footer>
<%# Menu JS %>
<script>
   const bodyTag = document.querySelector("body");
   const buttonTag = document.querySelector(".nav-button");
   let count = 0;
   let socialCount = 0;
   
   buttonTag.addEventListener("click", function(event) { count = 0 })
   bodyTag.addEventListener("click", function(event) {  
     if (bodyTag.classList.contains('open-dropdown')  && count > 0) {
       bodyTag.classList.remove("open-dropdown");
       buttonTag.classList.remove("cmenu");
       count = 0
     }else {
       count++;
     }
   
     if (bodyTag.classList.contains('social-active') && socialCount > 0) {
       bodyTag.classList.remove("social-active");
       socialCount = 0
     }else {
       socialCount++;
     }
   });
</script>