<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @form.name %>! Has sent a Query.</h1>
    <h3>Email: <%= @form.email %></h3>
    <h3>Reason For Contacting: <%= @form.reason %></h3>
    <h3>Company Name: <%= @form.company_name %></h3>
    <h3>Cover Letter</h3>
    <p><%= @form.cover_letter %></p>
  </body>
</html>